@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #172126;
  background: #f6f8f7;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

button,
input,
select {
  font: inherit;
}
